@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  /*Body, Header, Footer*/
  /* @import url("https://fonts.googleapis.com/css2?family=Anton:wght@400"); */

  body {
    /* background: linear-gradient(88deg, #090d15, #00396f, #04223e, #f1f0f8); */
    background-image: linear-gradient(to right bottom, #0c1d3d, #0b1a40, #0d1742, #111343, #160e44, #1f093c, #240434, #27002d, #25001f, #1f0014, #150009, #000000);
    background-size: 150% 150%;
  }

  #mainlogo {
    top: 3.5%;
    width: 7%;
  }

  #leftside, #rightside{
    width: 1.2vw;
    height: 1.2vw;
    }
  
  /* SECTION */

  .section {
    position: relative;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    padding: 0;
    /* scroll-snap-align: start;
  scroll-snap-stop: always;  */
  }

  .section1 {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  .sec-one-wrapper,
  .sec-two-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sec-one-wrapper {
    width: 87.5%;
  }

  .mani {
    position: relative;
    display: inline-block;
    top: 13%;
    margin-left: 1.5%;
    width: 74%;
  }

  .mani2 {
    position: relative;
    display: inline-block;
    top: 13%;
    margin-left: 8.5%;
  }

  .mani h1,
  .mani2 h1,
  #collaborate {
    line-height: 1.6;
    /* font-family: 'Open Sauce One SemiBold'; */
    /* font-family: 'Barlow Condensed SemiBold'; */
    /* font-family: 'Platform-Regular'; */
    font-family: 'Titillium Web SemiBold';
    font-size: 3.3rem;
letter-spacing: 0.05rem;
    color: white;
    text-transform: capitalize;
    margin-bottom: 0;
  }

  .mani p {
    width: 63%;
    text-align: left;
  }

  .mani2 p {
    width: 70%;
    text-align: left;
  }

  .mani p,
  .mani2 p {
    font-size: 1.05rem;
    line-height: 1.4;
    margin-top: 2.25%;
    font-family: 'Titillium Web Light';
    /* letter-spacing: 0.05rem; */
  }

  .btns {
    position: relative;
    top: 3%;
    display: flex;
    flex-direction: column;
    width: 18%;
  }

  .btns button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 32px;
    text-align: center;
    /* padding: 5%; */
    padding: 5% 34%;
    letter-spacing: 0.07rem;
    font-size: 1rem;
    margin-bottom: 10%;
  }

  #contact-btn{
    padding: 5% 29%;
  }
 
  .btns button a {
    text-decoration: none;
  }

  /* #mbtn {
  margin-bottom: 1rem;
} */

  .animation {
    position: absolute;
    /* left: 36%;
    top: 30%;
    width: 69%; */
    left: 45%;
    top: 35%;
    width: 60%;
    height: 100%;
    transform: translate(0%, -45%);
    z-index: -1;
    mix-blend-mode: screen;
    /*The mix-blend-mode is a magic trick to solve the issue with black background of webM on Safari browser.*/
  }

  video {
    pointer-events: none;
    width: 85%;
    margin-top: 14%;
    /* width: 100%; */
  }

  .sec-two-wrapper {
    width: 87.5%;
  }
  .slideshow {
    position: absolute;
    left: 45%;
    top: 0;
    width: 130%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
  }

  /* .slideshow iframe{
    width: 167vw;
  } */


  #m2btn {
    position: relative;
    display: inline-block;
    top: 3%;
    display: flex;
    flex-direction: column;
    width: 23%;
    font-family: 'Titillium Web Regular';
  }


  #m2btn button {
    position: relative;
    left: 0%;
    top: 45%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 32px;
    text-align: center;
    padding: 5%;
    letter-spacing: 0.07rem;
    font-size: 1rem;
  }

  #m2btn a {
    text-decoration: none;
  }

  .promote {
    position: relative;
    left: -8.5%;
    top: 11.2%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    /* background-color:  blue; */
  }

  .category {
    text-align: left;
    width: 68%;
    flex: 1 0 auto;
  }

  .video {
    color: white;
  }

  .workfor {
  }

  .promote p {
    font-family: 'Titillium Web Light';
    letter-spacing: 0.25%;
    font-size: 3.4rem;
    top: 2.25%;
    color: #ffffff;
    line-height: 2.7rem;
    cursor: pointer;
    position: relative;
  }

  .promote p a {
    color: #f1f0f8;
    text-decoration: none;
  }

  #video:hover:after,
  #photo:hover:after,
  #drone:hover:after,
  #ani:hover:after,
  #sound:hover:after,
  #theater:hover:after,
  #events:hover:after,
  #pro:hover:after {
    position: relative;
    margin-bottom: 0;
    top: 2.25rem; /*percentage doesn't work*/
    left: 1%;
    font-size: 1.1rem;
    font-family: 'Platform-Light';
    line-height: 0;
    letter-spacing: 0.1rem;
    width: 200%;
    display: block;
  }

  p a {
    text-decoration: none;
  }

  .section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .sec-three-wrapper {
    width: 87.5%;
    height: 100%;
    position: relative;
    top: 0;
    text-align: center;
  }

  #collaborate {
    position: relative;
    top: 11%;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 4.7%;
  }

  form {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52%;
    background-color: transparent;
    padding: 1% 0.5%;
    border-radius: 16px;
  }

  .detail {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .contact textarea{
    width: 85%;
    padding: 2% 1%;
    margin-bottom: 0.8rem;
    border: #aaff00 1px solid;
    border-radius: 16px;
    background-color: transparent;
    color:white;
  }

  .contact textarea::placeholder {
    color: rgb(205, 204, 204);
  }

  #name,
  #phone,
  #email {
    width: 30%;
    height: 0.7rem;
  }

  #subject{
    height:0.7rem;
  }

  #note {
    height: 10rem;
  }

  .formbtm {
    display: block;
    position: relative;
    top: -5%;
    width: 100%;
  }

  .formbtm p {
    /* font-family: 'Platform-Light'; */
    font-family: 'Titillium Web Light';
    font-size: 0.85rem;
    text-align: left;
    line-height: 0.5;
  }

  #tandc {
    text-decoration: underline;
  }

  #submitbtn {
    background-color: transparent;
    border-radius: 48px;
    padding: 2% 0;
    width: 30%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1;
    
  }

  /* #termmessage{
  position: relative;
  left:0;
  width:40%;
  line-height:1.4;
} */

  .info {
    position: absolute;
    right: 9%;
    top: 69.1%;
    font-size: 0.9rem;
    width: 15%;
    line-height: 0.5;
    text-align: left;
    font-family: 'Titillium Web Regular';
  }

  .clients {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo-con2 img {
    position: relative;
    width: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .logo-con img {
    position: relative;
    width: 10%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #tr {
    width: 18%;
    top: -28%;
  }

  #grande {
    width: 23%;
    top: -36%;
  }
  #worm {
    width: 38%;
    top: -10%;
  }

  #wb {
    width: 38%;
    top:-17%;
  }

  #tecart {
    top: -6%;
    width:15%;
  }

  #v2 {
    width: 40%;
    top:-7%;
  }

  #rood {
    width: 50%;
    top: -10%;
  }

  /*Header*/
  .header {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
  }

  
  /*Footer*/
  .footer {
    position: absolute;
    /* bottom: -4%; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    z-index: 998;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }

  .foo-content {
    width: 300%;
    height: 2rem;
    display: flex;
    line-height: 30px;
    animation: marquee 13s linear infinite forwards;
  }

  .foo-content:hover {
    animation-play-state: paused;
  }

  .footer::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    top: 0rem;
    width: 100%;
    height:100%;
    /* height: 2.5rem; */
    background-size: 10%;
    background-repeat: repeat-x;
  }

  .logosection {
    /* background-color: blue; */
    width: 28%;
    display: flex;
    justify-content: space-between;
  }

  #fb img{
    margin-left:4px;
  }

  #ig img, #vimeo img, #fb img, #linkedin img {
    width: 100%;
    margin-top: -4px;
  }

  #term {
    font-size: 0.6rem;
    margin-top: 2.5%;
    width: 100%;
  }

  .list-inline {
    display: flex;
    justify-content: space-around;
    width: 9%;
    /* reset list */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #statement {
    font-family: 'Platform-Medium';
    /* font-family: 'Titillium Web Bold'; */
    font-size: 1.25rem;
    line-height: 1;
    margin-top: 6px;
  }

  .list-inline span {
    font-family: 'Platform-Light';
    font-size: 1rem;
    margin-top: 6px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-40%);
    }
  }
}
