/*Body, Header, Footer*/

html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  background: #090d15;
  font-family: 'Titillium Web Regular';
  overflow-y: auto;
  /* overflow-x: hidden; */
}

.container {
  width: 100%;
  height: 100vh;
  padding: 0;
  display: block;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  overflow-y: auto;
  /* overflow-x: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  /*Hide Scrollbar*/
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.containert::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* .section {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
} */

.section {
  position: relative;
  display: block;
  width: 100%;
  /* height:100%; */
  /*Depends on the existence of height:100% the fullsize video changes*/
  overflow: hidden;
}


.section::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.mob-section{
  display:none;
} 

/*Header*/
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}

#mainlogo {
  position: fixed;
  top: 2.5%;
  width: 5.5%;
  z-index: 997;
  margin: 0 auto;
  text-align: center;
}

#mainlogo img {
  width: 100%;
}


/*Menu*/
#sidebarMenu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  margin-bottom: 2px;
}
.sidebarMenuInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logosec {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  text-align: center;
}

#biglogo {
  width: 100%;
}

/*UL*/
#list {
  width: 72%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2.2% auto;
}

#list li {
  list-style: none;
  font-family: 'Titillium Web Regular';
  font-size: 3.2rem;
  letter-spacing: 0.03rem;
  font-size: 3.2rem;
  line-height: 0;
  color: white;
  cursor: pointer;
  opacity: 1;
}

#list li a:hover,
#list li a:focus {
  cursor: pointer;
  color: #32ff32;
}

#list li a {
  text-decoration: none;
  color: #f1f0f8;
}

#contact_typo {
  position: relative;
  left: -4%;
}

input[type='checkbox']:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type='checkbox'] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 1.5%;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  width: 130%;
  margin-bottom: 4px;
  background-color: #32ff32;
}

.spinner:hover,
.spiner:focus {
  cursor: pointer;
  color: #32ff32;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -14px;
  /* margin-top: -9px; */
}

.footer {
  position: absolute;
  /* bottom: -4%; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 998;
  color: black;
  background-color: #32ff32;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.foo-content {
  width: 300%;
  height: 2.5rem;
  display: flex;
  line-height: 30px;
  animation: marquee 13s linear infinite forwards;
}

.foo-content:hover {
  animation-play-state: paused;
}

.footer::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 0rem;
  width: 100%;
  height: 100%;
  /* height: 2.5rem; */
  background-image: url('../img/Manta Logo 1/MANTA Lime green A1 RGB R.png');
  background-size: 10%;
  background-repeat: repeat-x;
}

.logosection {
  /* background-color: blue; */
  width: 28%;
  display: flex;
  justify-content: space-between;
}

#fb img {
  margin-left: 4px;
}

#ig img,
#vimeo img,
#fb img,
#linkedin img {
  width: 100%;
  margin-top: -3px;
}

#term {
  font-size: 0.6rem;
  margin-top: 2.5%;
  width: 100%;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 10%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
#statement {
  font-family: 'Platform-Medium';
  font-size: 1.25rem;
  line-height: 1;
  margin-top: 12px;
  color: #360c79;
}

.list-inline span {
  font-family: 'Platform-Light';
  font-size: 1rem;
  margin-top: 6px;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

/*******Laptop CSS********/
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  #mainlogo {
    top: 3.5%;
    width: 7%;
  }

  /*Footer*/
  .footer {
    height: 2rem;
  }

  .foo-content {
    width: 300%;
    height: 2rem;
    display: flex;
    line-height: 30px;
    animation: marquee 13s linear infinite forwards;
  }

  .foo-content:hover {
    animation-play-state: paused;
  }

  .footer::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    top: 0rem;
    width: 100%;
    height: 100%;
    /* height: 2.5rem; */
    background-size: 10%;
    background-repeat: repeat-x;
  }

  .logosection {
    /* background-color: blue; */
    width: 28%;
    display: flex;
    justify-content: space-between;
  }

  #fb img {
    margin-left: 4px;
  }

  #ig img,
  #vimeo img,
  #fb img,
  #linkedin img {
    width: 100%;
    margin-top: -4px;
  }

  #term {
    font-size: 0.6rem;
    margin-top: 2.5%;
    width: 100%;
  }

  .list-inline {
    display: flex;
    justify-content: space-around;
    width: 9%;
    /* reset list */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #statement {
    font-family: 'Platform-Medium';
    /* font-family: 'Titillium Web Bold'; */
    font-size: 1.25rem;
    line-height: 1;
    margin-top: 6px;
  }

  .list-inline span {
    font-family: 'Platform-Light';
    font-size: 1rem;
    margin-top: 6px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-40%);
    }
  }
}


/******Mobile Portrait CSS******/
@media only screen and (min-width: 320px) and (max-width: 896px) and (orientation: portrait) {

  .section{
    display:none;
  }

  .mob-section{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    height:100vh;
    /* display: block;
    width: 100%;
    height:100%; */
    overflow: hidden;
  }

  .video-wrapper{
    position: absolute;
    width:1000%;
    height:100%;
  }
  
  /* .mob-section:before {
    display: block;
    content: "";
    padding-top:177.77%;
  } */

    /*****Header****/  
    .header {
      position: fixed;
      background-color: transparent;
      top: 0;
      left: 0;
      width: 100%;
      height: 3rem;
    }

  #mainlogo {
    position: fixed;
    left: 18%;
    top: 8.2%;
    transform: translate(-50%, -100%);
    width: 20.5%;
    z-index: 997;
    }
  
  #mainlogo img {
      width: 100%;
  }
  
  /*****Menu******/
  #sidebarMenu {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /*relate*/
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    background: rgb(0, 0, 0, 0.8);
    z-index: 9999;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.2);
  }

  .sidebarMenuInner {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logosec {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    text-align: center;
  }

  #biglogo {
    width: 100%;
  }

  /*UL*/
  #list {
    width: 72%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 0;
  }

  #list li {
    font-size: 3rem;
    line-height: 1.8;
    letter-spacing: 0.04rem;
  }

  #list li a:hover,
  #list li a:focus {
    color: #32ff32;
  }

  #list li a {
    text-decoration: none;
    color: #f1f0f8;
  }

  #contact_typo {
    position: relative;
    left: 0;
  }

  input[type='checkbox']:checked ~ #sidebarMenu {
    transform: translateX(0);
  }

  input[type='checkbox'] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 1002;
    top: 4.4%;
    left: 84%;
    width: 27px;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;  
    height: 2px;
    width: 100%;
    background-color: #32ff32;
  }

  .spinner:hover,
  .spiner:focus {
    cursor: pointer;
    color: #32ff32;
  }

  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 2px;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 2px;
  }
  input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    z-index:1111;
  }
  input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -13px;
  }

    /*****Footer*****/
    .footer {
      /* position: absolute; */
      position:fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1.2rem;
      z-index: 100;
      color: black;
      background-color: #32ff32;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
    }
  
    .foo-content {
      width: 350%;
      height: 1.2rem;
      display: flex;
      justify-content: space-between;
      line-height: 18px;
      /* animation: marquee 13s linear infinite forwards; */
    }

  
    .footer::after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      top: 15%;
      width: 127%;
      height: 2.5rem;
      background-image: url('../img/Manta Logo 1/MANTA Lime green A1 RGB R.png');
      background-size: 10%;
      background-repeat: repeat-x;
    }
    
    .list-inline {
      width: 20%;
      margin-right: 6px;
    }

    .list-inline span{
      margin-top:0px;
    }

    #statement {
      font-size: 10px;
      line-height: 1;
      margin-top: 5px;
      /* width: 50%; */
    }

    .logosection {
      /* width: 50%; */
      /* margin-right: 5%; */
    }

    .logosection span{
      margin-top: 1px;
    }

    #fb, #ig{
      margin-right:4px;
    }

    #vimeo{
      margin-right:6px;
    }

    #fb img{
      margin-left:2px;
    }
    
    #ig img, #vimeo img, #fb img, #linkedin img {
      width: 160%;
      margin-top: 2px;
      margin-left: 0px;
    }
    
    #term {
      font-size: 0.6rem;
      margin-top: 2.5%;
      width: 100%;
    }
  
  
}