html,
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Open Sauce One Light';
  color: #f1f0f8;
  overflow-y: hidden;
  background: linear-gradient(45deg, #194a79, #090d15, #f1f0f8);
  background-size: 300% 200%;
  /* animation: gradient 7s ease infinite; */
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

/* .header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.cate {
  position: absolute;
  top: 3.25rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
}

.cate li {
  list-style: none;
  color: #f1f0f8;
  font-size: 0.8rem;
  cursor: pointer;
}

#theater {
  color: #ffff00;
}

#theater a {
  color: #ffff00;
  text-decoration: none;
}

.cate li a {
  color: white;
  text-decoration: none;
}

.videos {
  margin: 0 auto;
  /* max-width: 85%; */
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* Hide scrollbar for Chrome, Safari and Opera, but still be able to keep scrolling */
.videos::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox, but still be able to keep scrolling */
.videos {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.inside {
  position: relative;
  cursor: pointer;
  flex: 0 0 auto; /*This is crucial to apply, otherwise width of imgs in divs are not adjustable.*/
}

.inside img {
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 40px -7px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 100%;
}

.plyr__video-embed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  background-color: rgb(3, 6, 54);
  width: 100vw;
  height: 100vh;
}

.plyr__video-embed iframe {
  width: 85vw; /*This is important*/
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 16/9;
}

/* The Close Button */
.closebtn {
  color: rgb(148, 146, 146);
  float: right;
  font-size: 30px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  right: 4%;
  top: 2%;
}

.closebtn:hover {
  color: #ffff00;
  text-decoration: none;
  cursor: pointer;
}

#a1,
#a4,
#a7,
#a12,
#b1,
#b4,
#b7,
#b12,
#d1,
#d4 {
  animation: floaty1 5.75s infinite;
}
#a1,
#d6,
#b2,
#b6,
#d2 {
  animation: floaty2 6.75s infinite;
}

#a3,
#a5,
#d9,
#a13,
#b3,
#b5,
#b9,
#b13,
#d3,
#d5 {
  animation: floaty3 6s infinite;
}

#a8,
#a14,
#b8,
#b14 {
  animation: floaty4 6.5s infinite;
}

@keyframes floaty1 {
  0% {
    transform: translateY(15px);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateX(15px);
  }
}

@keyframes floaty2 {
  0% {
    transform: translateX(10px);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateY(10px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes floaty3 {
  0% {
    transform: translateX(5px);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateY(7px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateY(2px);
  }
}

@keyframes floaty4 {
  0% {
    transform: translateY(3px);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateY(7px);
  }
  100% {
    transform: translateX(2px);
  }
}

.inside:hover,
.inside:focus {
  opacity: 1;
  filter: brightness(150%);
  -webkit-filter: brightness(150%);
  /*A value under 100% darkens the image, while a value over 100% brightens it.*/
}

.inside:hover::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  /* width: 100%;
  height: 100%; */
  font-family: 'Open Sauce One Light';
  font-size: 1.65rem;
  line-height: 1.4;
  color: #ffff00;
  white-space: pre; /* or pre-wrap. This enables line-break of the text content along with \A */
  text-align: center;
}
/*a[] for theater films*/
#a1:hover::after {
  content: 'Free at Last \A RIDCC Rotterdam';
}

#a2:hover::after {
  content: 'Fremdkörper \A Boogaerdt/VanderSchoot';
}

#a3:hover::after {
  content: 'CRISPR \ADavy Pieters';
}

#a4:hover::after {
  content: 'Cube \A Firma Draak';
}

#a5:hover::after {
  content: 'Marjolijn van Heemstra \A Pynarello & Theater Rotterdam';
}
#a6:hover::after {
  content: 'Uniform \A Maas theater en dans';
}

#a7:hover::after {
  content: 'How to build a Universe \A Davy Pieters';
}

#a8:hover::after {
  content: 'Run Quiet \A Dalton Jansen';
}

#a9:hover::after {
  content: 'Primisi \A Alida Dors';
}

#a10:hover::after {
  content: 'DO NOT LOOK BACK WITH REGRET \A Davy Pieters';
}

#a11:hover::after {
  content: 'Erik Whien Boogaerdt \A VanderSchoot';
}

#a12:hover::after {
  content: 'Pang Pang’ \A Grande Loge';
}

#a13:hover::after {
  content: 'The dying story of a small body function \A Vegelijf';
}

#a14:hover::after {
  content: 'FRevolutionary Road \A Erik Whien';
}

/*In the beginning my html didn't have div wrapping imgs in the .videos div. 
I direcly tried to apply the hover on pseudo (to show text on mouseover) but didn't work.
I researched and learned the pseudo to img tag is not possible.*/

#a1 {
  width: 30%;
  left: 0%;
  top: -17%;
}

#a2 {
  width: 26%;
  left: -26%;
  top: 15%;
}

#a3 {
  top: -4%;
  left: -31%;
  width: 27%;
}

#a4 {
  width: 40%;
  top: -14%;
  left: -36%;
}

#a5 {
  width: 25%;
  left: -82%;
  top: 21%;
}

#a6 {
  width: 32%;
  top: 15%;
  left: -76%;
}

#a7 {
  width: 27%;
  top: -19%;
  left: -88%;
}

#a8 {
  width: 34%;
  top: 8%;
  left: -106%;
}
#a9 {
  width: 35%;
  top: -15%;
  left: -108%;
}

#a10 {
  width: 30%;
  left: -148%;
  top: 23%;
}

#a11 {
  width: 30%;
  left: -149%;
  top: 13%;
}

#a12 {
  width: 35%;
  top: 18%;
  left: -149%;
}

#a13 {
  width: 27%;
  left: -199%;
  top: -17%;
}

#a14 {
  width: 30%;
  top: -8%;
  left: -181%;
}

[data-scroll-dir-x='1'] .inside {
  /* opacity: 0.4; */
  opacity: calc(var(--visible-x) * var(--visible-x));
  transform: scale(calc(0.5 + calc(var(--visible-x) * 0.5)));
}
/*next아이들이 순차적으로 효과*/

[data-scroll-dir-x='-1'] .inside {
  opacity: calc(var(--visible-x) * var(--visible-x));
  transform: scale(calc(0.5 + calc(var(--visible-x) * 0.5)));
}

[data-scroll-dir-x='1'] .special {
  /* opacity: 0.4; */
  opacity: calc(var(--visible-x) * var(--visible-x));
  transform: scale(calc(0.5 + calc(var(--visible-x) * 0.5))) translateY(140px);
}

.bck {
  position: absolute;
  filter: brightness(7%) blur(1px);
  -webkit-filter: brightness(7%) blur(2px);
  z-index: -1;
}

#bck1 {
  width: 20%;
  left: 18%;
  top: 43%;
}

#bck2 {
  width: 17%;
  left: 40%;
  top: 28%;
}

/*IDs for Events & Branding*/
/*b[] for Events * Braniding films*/

#b1:hover::after {
  content: 'IO \A ADNIGHT';
}

#b2:hover::after {
  content: "Let's get Physical \A AVL";
}

#b3:hover::after {
  content: 'Wild Summer of Art \A BRUTUS';
}

#b4:hover::after {
  content: 'The Quantum Resistant Ledger \A Amsterdam';
}

#b5:hover::after {
  content: 'GOGBOT \A PTecArt';
}

#b6:hover::after {
  content: '#OURHOUSE \A RO Theater';
}

#b7:hover::after {
  content: 'OR DIE TRYING \A TR';
}

#b8:hover::after {
  content: 'WunderPlatz X SKILLS \A WORM';
}

#b9:hover::after {
  content: 'Unconventional Self by Charl Linssen, Werner van der Zwan \A V2';
}

#b10:hover::after {
  content: 'GOGBOT \A TecArt';
}

#b11:hover::after {
  content: 'Wild Summer of Arts (Part 1) \A BRUTUS ';
}

#b12:hover::after {
  content: 'FAKE ME HARD’ \A Planet Art';
}

#b13:hover::after {
  content: 'DRUGS\A TecArt';
}

#b14:hover::after {
  content: 'Anatomies of Intelligence \A V2';
}

#b15:hover::after {
  content: 'Soul Calibrator - Lotte de Jong, Noemi Biro, Ryan Cherewaty \A V2';
}

#b16:hover::after {
  content: 'Stadsastronaut \A TR';
}

#b1 {
  width: 30%;
  left: 0%;
  top: -17%;
}

#b2 {
  width: 26%;
  left: -26%;
  top: 15%;
}

#b3 {
  top: -4%;
  left: -31%;
  width: 27%;
}

#b4 {
  width: 40%;
  top: -14%;
  left: -36%;
}

#b5 {
  width: 25%;
  left: -82%;
  top: 21%;
}

#b6 {
  width: 32%;
  top: 15%;
  left: -76%;
}

#b7 {
  width: 27%;
  top: -19%;
  left: -88%;
}

#b8 {
  width: 34%;
  top: 8%;
  left: -106%;
}
#b9 {
  width: 35%;
  top: -15%;
  left: -108%;
}

#b10 {
  width: 30%;
  left: -148%;
  top: 23%;
}

#b11 {
  width: 30%;
  left: -149%;
  top: 13%;
}

#b12 {
  width: 35%;
  top: 18%;
  left: -149%;
}

#b13 {
  width: 27%;
  left: -199%;
  top: -17%;
}

#b14 {
  width: 30%;
  top: -8%;
  left: -181%;
}

#b15 {
  width: 25%;
  top: 2%;
  left: -191%;
}

#b16 {
  width: 30%;
  top: 0%;
  left: -200%;
}
/*Events & Branding End*/

/*IDs for Animation*/
/* d[] for Animation films*/
#d1:hover::after {
  content: 'Pendulum \A Joep van Lieshou';
}

#d2:hover::after {
  content: 'Reflections - Davids Danoss \A TR';
}

#d3:hover::after {
  content: 'Filantropia \A Grande Loge ';
}

#d4:hover::after {
  content: 'Filantropia \A Grande Loge';
}

#d5:hover::after {
  content: 'CRISPR \A Davy Pieters';
}

#d1 {
  width: 30%;
  left: 0%;
  top: -17%;
}

#d2 {
  width: 34%;
  left: -18%;
  top: 15%;
}

#d3 {
  top: -13%;
  left: -31%;
  width: 28%;
}

#d4 {
  width: 36%;
  top: -15%;
  left: -31%;
}

#d5 {
  width: 30%;
  left: -76%;
  top: 20%;
}

/*Header*/
.header {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
}

#mainlogo {
  position: fixed;
  top: 0.75rem;
  width: 5.5%;
  z-index: 997;
  margin: 0 auto;
  text-align: center;
}

#mainlogo img {
  width: 100%;
}

/*Menu*/
#sidebarMenu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background: rgb(0, 0, 0, 0.8);
  z-index: 1000;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
}
.sidebarMenuInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logosec {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  text-align: center;
}

#biglogo {
  width: 100%;
}

/*UL*/
#list {
  width: 72%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 13%; */
  margin: 0.8rem auto;
}

#list li {
  list-style: none;
  /* font-family: 'Open Sauce One SemiBold'; */
  font-family: 'Open Sauce One Regular';
  font-size: 3.2rem;
  line-height: 0;
  color: white;
  cursor: pointer;
  opacity: 1;
}

#list li a:hover,
#list li a:focus {
  cursor: pointer;
  color: #ffff00;
}

#list li a {
  text-decoration: none;
  color: #f1f0f8;
}

#contact_typo {
  position: relative;
  left: -4%;
}

input[type='checkbox']:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type='checkbox'] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 1002;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 1.5%;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.spinner:hover,
.spiner:focus {
  cursor: pointer;
  color: #ffff00;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
  z-index: 1111;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/*Footer*/
.footer {
  position: absolute;
  /* bottom: -4%; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 998;
  color: black;
  /* background-color: #ffff00; */
  background-color: #d7ff00;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.foo-content {
  width: 300%;
  height: 2.5rem;
  display: flex;
  line-height: 30px;
  animation: marquee 13s linear infinite forwards;
}

.foo-content:hover {
  animation-play-state: paused;
}

.footer::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 0rem;
  width: 100%;
  height: 2.5rem;
  background-image: url('../img/Manta Logo 1/Mantalogo_footer_yellow.png');
  background-size: 10%;
  background-repeat: repeat-x;
}

.logosection {
  /* background-color: blue; */
  width: 9%;
  display: flex;
  justify-content: space-between;
}

#ig img {
  width: 70%;
  margin-top: 3px;
}

#vimeo img {
  width: 70%;
  margin-top: 3px;
}

#term {
  font-size: 0.6rem;
  margin-top: 2.5%;
  width: 100%;
}

.list-inline {
  display: flex;
  justify-content: space-around;
  width: 20%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
#statement {
  font-family: 'Open Sauce One SemiBold';
  font-size: 14.6px;
  line-height: 1;
  margin-top: 12px;
}
.spansection {
  width: 30%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.list-inline span {
  font-family: 'Open Sauce One Light';
  font-size: 12px;
  margin-top: 6px;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}
